{% extends "layout.html" %}
{% block species %}Animal{% endblock %}
{% block content %}
    <h1 class="species">Animals</h1>

        <table class="table">
            <tr>
                <th>Species</th>
                <td>{{ animal.species }}</td>
            </tr>
            {% if animal.year %}
            <tr>
                <th>Year:</th>
                <td>({{ animal.year }})</td>
            </tr>
            {% endif %}
        </table>

        <a href="{{ url_for('edit_animal_page', animal_key=animal_key)}}" class="button">Edit Animal</a>
{% endblock %}
