{% extends "layout.html" %}
{% block species %}Animals{% endblock %}
{% block content %}
    <h1 class="species">Animals</h1>

    {% if animals %}
        <table class="table is-striped is-fullwidth">
            {% for animal_key, animal in animals %}
            <tr>
                <td>
                    {{ animal.species }}
                    {% if animal.year %} ({{ animal.year }}) {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
