{% extends "layout.html" %}
{% block species %}Animals{% endblock %}
{% block content %}
    <h1 class="species">Animals</h1>

    {% if animals %}
        <table class="table is-striped is-fullwidth">
            {% for animal_key, animal in animals %}
            <tr>
                <td>
                    <!-- (3.4) I simply put the species name in an anchor tag and used url_for, passing the animal_key
                         as the variable that matches the name in the <> of the matching app.add_url_rule -->
                    <a href="{{ url_for('animal_page', animal_key=animal_key) }}">{{ animal.species }}</a>
                    {% if animal.year %} ({{ animal.year }}) {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
