<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <species>My animals - {% block species %}{% endblock %}</species>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='myanimals.css') }}" />
    <title>My Animals</title>
</head>
<body>
    <div class="wrapper">
        <header class="page-header">
        <nav class="level">
            <ul class="level-left">
                <div class="level-item">
                    <li><a class="button  is-link" href="{{ url_for('home_page') }}">Home</a></li>
                </div><div class="level-item">
                    <li><a class="button is-link" href="{{ url_for('animals_page') }}">List Animals</a></li>
                </div>
            </ul>
        </nav>
    </header>
        <main class="page-body">
    {% block content %}{% endblock %}
        </main>

    <footer class="page-footer">
        <small>&copy; 2023, Cute Animals Inc.</small>
    </footer>
    </div>
</body>
</html>