<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <species>My animals - {% block species %}{% endblock %}</species>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='myanimals.css') }}" />
    <title>My Animals</title>
</head>
<body>
    <div class="wrapper">
        <header class="page-header">
            <!-- class="level" -->
        <nav>
            <div class="navbar-brand">
                <span class="navbar-item">
                    <a class="button  is-link" href="{{ url_for('home_page') }}">Home</a>
                </span>
                <span class="navbar-item">
                    <a class="button is-link" href="{{ url_for('animals_page') }}">List Animals</a>
                </span>
                <span class="navbar-item">
                    <a class="button is-link" href="{{ url_for('add_animal_page') }}">Add Animal</a>
                </span>
            </div>
        </nav>
    </header>
        <main class="page-body">
    {% block content %}{% endblock %}
        </main>

    <footer class="page-footer">
        <small>&copy; 2023, Cute Animals Inc.</small>
    </footer>
    </div>
</body>
</html>